<h2>Welcome to App Manager</h2>
<hr>
<br>
<p>
App Manager is an app created to submit, view, and manage job applications submitted by potential future employees. Click the link below to proceed to the App Manager Web Application.
</p>
<%= link_to 'Create Application', controller: 'job_applications', action: 'new' %>
<br>
<br>
<% if signed_in? %>
  <%= link_to 'View Applications (Admin Only)', controller: 'job_applications' %>
<% end %>
